@using GPSMap.Data;
@model GPSMap.Models.KPIChartDataModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-body form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Select KPI</label>
                    <select id="KPI" multiple="multiple" required name="KPI">
                        <option>Select KPI</option>
                        @if (Model.KPIValues != null)
                        {
                            foreach (var item in Model.KPIValues)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='p-for'>
                        @Html.TextBoxFor(x => x.SearchModel.ForDate, new { placeholder = "Period From", @class = "form-control", autocomplete = "off" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Select Trend</label>
                    <select name="Trend" id="Trend" class="form-control">
                        <option value="Monthly">Monthly</option>
                        <option value="Daily">Daily</option>
                    </select>
                </div>

                <input name="ShowSeparate" type="checkbox" checked data-toggle="toggle" data-on="Show Seperate" data-off="Show Single" data-onstyle="success" data-offstyle="warning">

                <button id="generatechart" class="btn btn-primary btn-sm" onclick="GenerateChart()">Generate Chart</button>
            </div>
        </div>
    </div>
    <div style="width:800px; height:600px; text-align:center;">
        <canvas id="myChart"></canvas>
    </div>
</div>
@section scripts{
    <script>
        
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        $('#KPI').multiselect({
            includeSelectAllOption: false
        });

        $('#p-for').datetimepicker({
            format: 'DD/MM/YYYY',
            showClear: true
        });

        function GenerateChart() {
            $.blockUI();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetChartData", "Ericsson")',
                data: JSON.stringify({
                    "Trend": $("#Trend").val(),
                    "KPIName": $("#KPI").val(),
                    "Date": $('#p-for').data('date')
                }),
                contentType: "application/json",
                dataType: "json",
                success: function(chData) {
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx,
                        {
                            type: 'line',
                            data: {
                                labels: chData.Labels,
                                datasets: [
                                    {
                                        label: chData.Labels,
                                        data: chData.ChartData,
                                        backgroundColor: window.chartColors.blue
                                    }
                                ]
                            }
                        });
                },
                "error": function(data) {
                    alert("Some Error Occured!");
                }
            }).always(function() {
                $.unblockUI();
            });;
        }

    </script>
}