
@{
    ViewBag.Title = "NotAuthorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <h2 >Not Authorised to access the page</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="~/Images/403.jpg" />
            </div>
        </div>
    </div>
</div>